extends layout

block content
  h1= title
  div.messages
    each msg in msg_list
      ul
        li #{msg.text} - #{msg.user} | #{msg.added}
    else 
      li There are no messages.
  a(href="/new") 
    p Submit New Message
